/* Styles the entire background */
#app {
	background: linear-gradient(to right, black, orange);
}

/* Styles the main nav bar */
#main-nav-bar {
	position: fixed;
	z-index: 2;
	width: 100%;
}

/* Removes padding */
.no-padding {
	padding: 0;
}

/* Styles all text giving a unique font to it */
.styled-text {
	font-family: 'Italianno', cursive;
	font-size: 30px;
}

/* Styles the navbar logo */
.mainNavbarLogo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/* Styles the navbar links */
.bottom-style:hover {
	border-bottom: 1px solid #FFA500;
}

/* Styles the background of the navbar links */
.background-style:hover {
	background: linear-gradient(to left, black, orange);
	border-radius: 50%;
}

/* Styles the main slide */
.main-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 1px solid white;
}

/* Styles the main slide images */
.main-slide-images {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Styles the main slide carousel buttons */
.mainSlideCarouselButtons {
	border:  1px solid white;
	border-radius: 50%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	width: 5%;
	height: 7%;
	margin-top: 25%;
}

/* Styles the main slides text */
.main-slide-text {
	margin-bottom: 45%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	font-family: 'Italianno', cursive;
	font-weight: 600;
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
  	-moz-animation: fadeIn linear 3s;
  	-o-animation: fadeIn linear 3s;
  	-ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Start of circle styling */
.circle, .footerCircle {
	position: relative;
	width: 225px;
	height: 225px;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #452D00;
}

/* Start of logo styling */
.logo, .footerLogo {
	position: absolute;
	width: 175px;
	height: 175px;
	background: url('/images/BigMomPastryLogo.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid white;
	border-radius: 50%;
}

/* Start of text styling */
.text, .footerText {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 15s linear infinite;
}

@keyframes rotateText {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.text span {
	position: absolute;
	top: -15%;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 112.5px;
}

.footerText span {
	position: absolute;
	top: -15%;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 112.5px;
}

/* Start of motto styling */
.motto {
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-radius: 75px;
	background: #452D00;
}

/* Start of logo area styling */
.logo-area-text {
	font-family: 'Italianno', cursive;
	text-decoration: underline;
	margin-top: 8%;
}

/* Start of products, blog and operations area styling */
#area-products, #area-operations{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.products-header-text, .blog-header-text, .operations-header-text, .about-us-header-text, .contacts-header-text {
	font-family: 'Italianno', cursive;
}

.about-us-content-text {
	font-family: 'Italianno', cursive;
	font-size: 32px;
	text-indent: 10%;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 375px;
    background: #000;
    -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
}

#sliding-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sliding-cards-black-shade, #sales-counter-shade {
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

#slide-1 {
	background: url('/images/swiper-images/customers/customers-pastry.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-2 {
	background: url('/images/swiper-images/customers/pastry.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-3 {
	background: url('/images/swiper-images/customers/pastry-1.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-4 {
	background: url('/images/swiper-images/customers/pastry-2.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-5 {
	background: url('/images/swiper-images/customers/pastry-3.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-6 {
	background: url('/images/swiper-images/customers/pastry-4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-7 {
	background: url('/images/swiper-images/customers/pastry-5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-8 {
	background: url('/images/swiper-images/bakery/bakery-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-9 {
	background: url('/images/swiper-images/bakery/bakery.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-10 {
	background: url('/images/swiper-images/bakery/bakery-2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-11 {
	background: url('/images/swiper-images/bakery/bakery-3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-12 {
	background: url('/images/swiper-images/bakery/bakery-4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-13 {
	background: url('/images/swiper-images/bakery/bakery-5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide-cards-header-text {
	font-family: 'Italianno', cursive;
	font-size: 42px;
	font-weight: 325;
	margin-left: -25%;
	top: 25%;
	position: absolute;
	text-decoration: underline;
}

.slide-cards-text {
	font-family: 'Italianno', cursive;
	font-size: 32px;
	font-weight: 325;
	margin-left: -25%;
	top: 40%;
	position: absolute;
}

#sales-counter {
	background-image: url('/images/display.jpg'); 
	background-size: cover; 
	background-attachment: fixed; 
	background-repeat: no-repeat; 
}

#sales-counter-shadow {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

/* Start of About Us Styling */
.wordCarousel {
	font-size: 22px;
	font-family: serif, sans-serif;
	font-weight: 300;
}

.wordCarousel div {
	overflow: hidden;
	position: relative;
	height: 60px;
}

.wordCarousel div li {
	height: 30px;
	margin-bottom: 60px;
	display: block;
	padding-top: 10px;
}

.flip4 { 
	animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
	0% { 
		margin-top: -360px; 
	}
	5% { 
		margin-top: -270px; 
	}
	25% { 
		margin-top: -270px; 
	}
	30% { 
		margin-top: -180px; 
	}
	50% { 
		margin-top: -180px; 
	}
	55% { 
		margin-top: -90px; 
	}
	75% { 
		margin-top: -90px; 
	}
	80% { 
		margin-top: 0px; 
	}
	99.99% { 
		margin-top: 0px; 
	}
	100% { 
		margin-top: -270px; 
	}
}

.aboutUsText, .contactsText, .visitText {
	font-family: serif, sans-serif;
	font-size: 20px;
	text-indent: 5%;
}

.aboutUsImage {
	width: 225px;
	height: 225px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutUsScrollTextLink {
	font-size: 12px;
	padding-left: 5px;
	color: #FFFFFF;
}

#aboutUsScrollTextLink:hover {
	border-left: 1px solid orange;
	color: #FFA500;
}

#aboutUsLinkText {
	text-decoration: none;
	color: #FFFFFF;
}

#aboutUsValuesArea {
	background-image: url('/images/confectionery-3.jpg'); 
	background-size: cover; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
}

.reveal {
	opacity: 0;
	transition: 3s all ease;
}

.reveal.active {
	opacity: 1;
}

.topReveal {
	transform: translateY(-150px);
	opacity: 0;
	transition: 3s all ease;
}

.topReveal.active {
	transform: translateY(0);
	opacity: 1;
}

.leftReveal {
	transform: translateX(-150px);
	opacity: 0;
	transition: 3s all ease;
}

.leftReveal.active {
	transform: translateX(0);
	opacity: 1;
}

.rightReveal {
	transform: translateX(150px);
	opacity: 0;
	transition: 3s all ease;
}

.rightReveal.active {
	transform: translateX(0);
	opacity: 1;
}

.bottomReveal {
	transform: translateY(150px);
	opacity: 0;
	transition: 3s all ease;
}

.bottomReveal.active {
	transform: translateY(0);
	opacity: 1;
}

.shade {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.contacts-text {
	font-family: 'Italianno', cursive;
	font-size: 36px;
	text-decoration: none;
	color: #FFFFFF;
}

#contactsIcons {
	color: #FFFFFF;
}

#contactsIcons:hover {
	color: #FFA500;
}

#contactsIconsLinks {
	color: #FFFFFF;
}

#contactsIconsLinks:hover {
	color: #FFA500;
}

.working-hours-text, .location-text {
	font-family: 'Italianno', cursive;
	font-size: 38px;
	text-decoration: underline;
}

.locationCard {
	border-radius: 5%;
}

.locationCardText {
	font-family: 'Italianno', cursive;
	font-size: 26px;
	text-decoration: underline;
}

.locationCardBodyText {
	font-family: serif, sans-serif;
	font-size: 18px;
}

.locationIcon {
	border: 1px solid white;
	border-radius: 50%;
	padding: 15%;
}

/* Start Of Main Footer Styling */
.main-footer {
	/*background: linear-gradient(to right, black, orange);*/
	border: 1px solid white;
}

.textFooter {
	font-family: serif, sans-serif;
	font-size: 18px;
	text-indent: 10px;
	text-decoration: none;
}

.textFooterUnderline {
	text-decoration: underline;
}

.paymentIcon {
	width: 75px;
	height: 50px;
	border-radius: 15px;
}

.subscribeButton, .resetButton, .registerButton, .loginButton, .resetPasswordButton {
	font-family: serif, sans-serif;
	font-size: 12px;
	font-weight: 175;
	font-style: italic;
	text-transform: uppercase;
	border-radius: 25px;
}

#inputSubscriptionEmail, #inputName, #inputEmail, #inputPassword, #inputPasswordConfirm, #inputSystemRole{
	border-radius: 15px;
	width: 100%;
}

#inputSubscriptionEmail:hover, #inputName:hover, #inputEmail:hover, #inputPassword:hover, #inputPasswordConfirm:hover, #inputSystemRole:hover {
	background: #FF8000;
	cursor: pointer;
}

#inputSubscriptionEmail:focus, #inputName:focus, #inputEmail:focus, #inputPassword:focus, #inputPasswordConfirm:focus, #inputSystemRole:focus {
	background: #FFCC99;
}

/* Start of Auth pages styling i.e. login, registration, reset password and email verification link */
.registrationCard, .loginCard, .emailVerificationCard, .emailPasswordResetCard, .resetPasswordCard, .confirmPasswordResetCard {
	width: 75%;
	margin-left: 12%;
}

.cardHeader {
	background: linear-gradient(to right, black, orange);
}

.cardHeaderText {
	color: #FFFFFF;
	font-family: 'Italianno', cursive;
	font-size: 30px;
}

.cardLabelText {
	font-family: serif, sans-serif;
	text-transform: uppercase;
}

#togglePassword {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: -25px;
}

#togglePassword:hover {
	cursor: pointer;
}














