/* Styles the entire background */
#app {
	background: linear-gradient(to right, black, orange);
}

/* Styles the main nav bar */
#main-nav-bar {
	position: fixed;
	z-index: 2;
	width: 100%;
	border: 1px solid #FFFFFF;
}

/* Removes padding */
.no-padding {
	padding: 0;
}

/* Styles all text giving a unique font to it */
.styled-text {
	font-family: 'Italianno', cursive;
	font-size: 22px;
}

.textIndent {
	text-indent: 35px;
}

.sweetToothHeaderText {
	font-family: 'Italianno', cursive;
	text-decoration: underline;
}

.sweetToothMiniText {
	font-family: serif, sans-serif;
	text-indent: 55px;
	font-size: 18px;
}

.homePageCards {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.homePageCards:hover {
	cursor: pointer;
	box-shadow: 4px 8px 4px 8px orange;
}

.homePageCardsTitle {
	color: #FFFFFF;
	font-family: 'Italianno', cursive;
	font-size: 26px;
	text-decoration: underline;
	text-transform: uppercase;
}

.homePageCardsIcon {
	color: #FFFFFF;
	text-decoration: none;
}

.homePageCardsIcon:hover {
	color: orange;
}

.homePageIconCards {
	color: orange;
}

.pastryCardImage, .confectioneryCardImage, .drinksCardImage, .fastFoodsCardImage, .saladsCardImage {
	width: 100%;
	height: 100%;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
}

.styled-text:hover {
	cursor: pointer;
}

/* Styles the navbar logo */
.mainNavbarLogo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/* Styles the navbar links */
.bottom-style-active {
	border-bottom: 1px solid #FFA500;
}

.bottom-style:hover {
	border-bottom: 1px solid #FFA500;
}

/* Styles the background of the navbar links */
.background-style:hover {
	background: linear-gradient(to left, black, orange);
	border-radius: 50%;
}

/* Enables the dropmenu to drop automatically on hover */
.aboutUsDrop:hover .aboutUsMenu, .myAccountDrop:hover .myAccountMenu{
	display: block;
}

/* Enables the background color of the dropmenu to change when active */
.aboutUsDrop:hover .aboutUsDropMenu {
	background: linear-gradient(to left, black, orange);
}

/* Styles the main slide */
.main-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 1px solid white;
}

/* Styles the main slide images */
.main-slide-images {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Styles the main slide carousel buttons */
.mainSlideCarouselButtons {
	border:  1px solid white;
	border-radius: 50%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	width: 5%;
	height: 7%;
	margin-top: 25%;
}

/* Styles the main slides text */
.main-slide-text {
	margin-bottom: 45%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	font-family: 'Italianno', cursive;
	font-weight: 300;
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
  	-moz-animation: fadeIn linear 3s;
  	-o-animation: fadeIn linear 3s;
  	-ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Start of circle styling */
.circle, .footerCircle {
	position: relative;
	width: 225px;
	height: 225px;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #452D00;
}

/* Start of logo styling */
.logo, .footerLogo {
	position: absolute;
	width: 175px;
	height: 175px;
	background: url('/images/BigMomPastryLogo.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid white;
	border-radius: 50%;
}

/* Start of text styling */
.text, .footerText {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotateText 15s linear infinite;
}

@keyframes rotateText {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.text span {
	position: absolute;
	top: -15%;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 112.5px;
}

.footerText span {
	position: absolute;
	top: -15%;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 112.5px;
}

/* Start of motto styling */
.motto {
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-radius: 75px;
	background: #452D00;
}

/* Start of logo area styling */
.logo-area-text {
	font-family: 'Italianno', cursive;
	margin-top: 8%;
}

.ourCursor {
	display: inline-block;
	width: 3px;
	background: #FFFFFF;
	margin-left: 0.1rem;
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		background: #FFFFFF;
	}

	49% {
		background: #FFFFFF;
	}

	50% {
		background: transparent;
	}

	99% {
		background: transparent;
	}

	100% {
		background: #FFFFFF;
	}
}

.typing {
	animation: none;
}

/* Start Of Styling For Pastry And Confectionery For All Occasions and Testimonials */
.occasionsTitleText, .testimonialHeaderText, .customersTestimonialHeaderText, .employeesTestimonialHeaderText, 
.companyTitleText {
	font-family: 'Italianno', cursive;
	text-decoration: underline;
}

.occasionsContentText {
	text-indent: 20%;
}

.homePageSlides {
	width: 275px;
  height: 275px;
}

#homePageSlide1 {
	background: url('/images/swiper-images/homepage/romance-2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#homePageSlide2 {
	background: url('/images/swiper-images/homepage/gestation.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#homePageSlide3 {
	background: url('/images/swiper-images/homepage/baby.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#homePageSlide4 {
	background: url('/images/swiper-images/homepage/birthday.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#homePageSlide5 {
	background: url('/images/swiper-images/homepage/special.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Start of products, blog and operations area styling */
#area-products, #area-operations{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.products-header-text, .blog-header-text, .operations-header-text, .about-us-header-text, .contacts-header-text, .our-team-header-text {
	font-family: 'Italianno', cursive;
}

.our-team-header-text {
	text-decoration: underline;
}

.about-us-header-text {
	text-decoration: underline;
}

.about-us-content-text {
	font-family: 'Italianno', cursive;
	font-size: 32px;
	text-indent: 10%;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: #000;
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
}

#sliding-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sliding-cards-black-shade, #sales-counter-shade {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.sliding-cards-black-shade::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.sliding-cards-black-shade::-webkit-scrollbar-track {
  background: linear-gradient(to right, black, orange);        /* color of the tracking area */
}

.sliding-cards-black-shade::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #FFFFFF;  /* creates padding around scroll thumb */
}

#slide-1 {
	background: url('/images/swiper-images/customers/customers-pastry.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-2 {
	background: url('/images/swiper-images/customers/pastry.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-3 {
	background: url('/images/swiper-images/customers/pastry-1.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-4 {
	background: url('/images/swiper-images/customers/pastry-2.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-5 {
	background: url('/images/swiper-images/customers/pastry-3.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-6 {
	background: url('/images/swiper-images/customers/pastry-4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-7 {
	background: url('/images/swiper-images/customers/pastry-5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-8 {
	background: url('/images/swiper-images/bakery/bakery-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-9 {
	background: url('/images/swiper-images/bakery/bakery.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-10 {
	background: url('/images/swiper-images/bakery/bakery-2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-11 {
	background: url('/images/swiper-images/bakery/bakery-3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-12 {
	background: url('/images/swiper-images/bakery/bakery-4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide-13 {
	background: url('/images/swiper-images/bakery/bakery-5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide-cards-header-text {
	font-family: 'Italianno', cursive;
	font-weight: 325;
	margin-left: -25%;
	top: 25%;
	position: absolute;
	text-decoration: underline;
}

.slide-cards-text {
	/*font-family: 'Italianno', cursive;
	font-size: 24px;*/
	font-weight: 325;
	margin-left: -25%;
	top: 40%;
	position: absolute;
	text-indent: 12%;
}

#sales-counter {
	background-image: url('/images/display.jpg'); 
	background-size: cover; 
	background-attachment: fixed; 
	background-repeat: no-repeat; 
}

#sales-counter-shadow {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

/* Start of About Us Styling */
.aboutUsMainImage {
	width: 100%;
	background: url('/images/swiper-images/aboutUs/aboutUs.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.startFlavours {
	width: 55%;
	margin-left: 7%;
}

.bg-flavours {
	background: linear-gradient(to right, black, orange);
}

.aboutUsSpecialContainer {
	width: 55%;
}

.wordCarousel {
	font-size: 22px;
	font-family: serif, sans-serif;
	font-weight: 300;
	margin-top: 15%;
}

.wordCarousel div {
	overflow: hidden;
	position: relative;
	height: 60px;
}

.wordCarousel div li {
	height: 30px;
	margin-bottom: 60px;
	display: block;
	padding-top: 10px;
}

.flip4 { 
	animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
	0% { 
		margin-top: -360px; 
	}
	5% { 
		margin-top: -270px; 
	}
	25% { 
		margin-top: -270px; 
	}
	30% { 
		margin-top: -180px; 
	}
	50% { 
		margin-top: -180px; 
	}
	55% { 
		margin-top: -90px; 
	}
	75% { 
		margin-top: -90px; 
	}
	80% { 
		margin-top: 0px; 
	}
	99.99% { 
		margin-top: 0px; 
	}
	100% { 
		margin-top: -270px; 
	}
}

.aboutUsText, .contactsText, .visitText {
	font-family: serif, sans-serif;
	font-size: 20px;
	text-indent: 5%;
}

.aboutUsImage {
	width: 225px;
	height: 225px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutUsScrollTextLink {
	font-size: 12px;
	padding-left: 5px;
	color: #FFFFFF;
}

#aboutUsScrollTextLink:hover {
	border-left: 1px solid orange;
	color: #FFA500;
	text-decoration: underline;
}

#aboutUsLinkText {
	text-decoration: none;
	color: #FFFFFF;
}

#aboutUsValuesArea {
	background-image: url('/images/confectionery-3.jpg'); 
	background-size: cover; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
}

.aboutUsSpecialCards {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.aboutUs-swiper-slide {
  width: 75%;
  height: 425px;
}

.statementsHeaderText {
	font-size: 24px;
}

#aboutUsPageSlide1 {
	background: url('/images/aboutUsPageImages/core-values.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutUsPageSlide2 {
	background: url('/images/aboutUsPageImages/mission.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutUsPageSlide3 {
	background: url('/images/aboutUsPageImages/vision.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutUsPageSlide4 {
	background: url('/images/aboutUsPageImages/culture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.aboutUsPageCards {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	width: 85%;
	height: auto;
}

.leftAdjust {
	margin-left: 10px;
}

.aboutUsPageCards:hover {
	cursor: pointer;
	box-shadow: 4px 8px 4px 8px orange;
}

.teamImage {
	width: 30%;
	height: 25%;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	margin-left: 30%;
}

.reveal {
	opacity: 0;
	transition: 3s all ease;
}

.reveal.active {
	opacity: 1;
}

.topReveal {
	transform: translateY(-150px);
	opacity: 0;
	transition: 3s all ease;
}

.topReveal.active {
	transform: translateY(0);
	opacity: 1;
}

.leftReveal {
	transform: translateX(-150px);
	opacity: 0;
	transition: 3s all ease;
}

.leftReveal.active {
	transform: translateX(0);
	opacity: 1;
}

.rightReveal {
	transform: translateX(150px);
	opacity: 0;
	transition: 3s all ease;
}

.rightReveal.active {
	transform: translateX(0);
	opacity: 1;
}

.bottomReveal {
	transform: translateY(150px);
	opacity: 0;
	transition: 3s all ease;
}

.bottomReveal.active {
	transform: translateY(0);
	opacity: 1;
}

.shade {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.contacts-text {
	font-family: 'Italianno', cursive;
	font-size: 36px;
	text-decoration: none;
	color: #FFFFFF;
}

#contactsIcons {
	color: #FFFFFF;
}

#contactsIcons:hover {
	color: #FFA500;
}

#contactsIconsLinks {
	color: #FFFFFF;
}

#contactsIconsLinks:hover {
	color: #FFA500;
}

.working-hours-text, .location-text {
	font-family: 'Italianno', cursive;
	font-size: 38px;
	text-decoration: underline;
}

.locationCard {
	border-radius: 5%;
}

.locationCardText {
	font-family: 'Italianno', cursive;
	font-size: 26px;
	text-decoration: underline;
}

.locationCardBodyText {
	font-family: serif, sans-serif;
	font-size: 18px;
}

.locationIcon {
	border: 1px solid white;
	border-radius: 50%;
	padding: 15%;
}

/* Start Of Main Footer Styling */
.main-footer {
	/*background: linear-gradient(to right, black, orange);*/
	border: 1px solid white;
}

.newsletterImage {
	width: 100px;
	height: 50px;
	border-radius: 25px;
}

.textFooter {
	font-family: serif, sans-serif;
	font-size: 18px;
	text-indent: 10px;
	text-decoration: none;
}

.textFooterUnderline {
	text-decoration: underline;
}

.footerUniqueText {
	font-family: serif, sans-serif;
	font-size: 14px;
}

.footerUniqueBorderBottom {
	border-bottom: 1px solid #FFFFFF;
}

.paymentIcon {
	width: 75px;
	height: 50px;
	border-radius: 15px;
}

.subscribeButton, .resetButton, .registerButton, .loginButton, .resetPasswordButton, .submitButton {
	font-family: serif, sans-serif;
	font-size: 12px;
	font-weight: 175;
	font-style: italic;
	text-transform: uppercase;
	border-radius: 25px;
}

#inputSubscriptionEmail, #inputName, #inputEmail, #inputPassword, #inputPasswordConfirm{
	border-radius: 15px;
	width: 100%;
}

#inputSubscriptionEmail:hover, #inputName:hover, #inputEmail:hover, #inputPassword:hover, #inputPasswordConfirm:hover {
	background: #FF8000;
	cursor: pointer;
}

#inputSubscriptionEmail:focus, #inputName:focus, #inputEmail:focus, #inputPassword:focus, #inputPasswordConfirm:focus {
	background: #FFCC99;
}

/* Start of Auth pages styling i.e. login, registration, reset password and email verification link */
.registrationCard, .loginCard, .emailVerificationCard, .emailPasswordResetCard, .resetPasswordCard, .confirmPasswordResetCard {
	width: 75%;
	margin-left: 12%;
}

.cardHeader {
	background: linear-gradient(to right, black, orange);
}

.cardHeaderText {
	color: #FFFFFF;
	font-family: 'Italianno', cursive;
	font-size: 30px;
}

.cardLabelText {
	font-family: serif, sans-serif;
	text-transform: uppercase;
}

#togglePassword {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: -25px;
}

#togglePassword:hover {
	cursor: pointer;
}

/* Styles the sub menu text */
#aboutUsDropDownItems:hover {
	background: #000;
}

#aboutUsDropDownItems:focus {
	background: #000;
}

.ourValuesCardsIcons, .masterClassCardsIcons {
	color: #FFA500;
}

.ourValuesHeaderText, .masterClassHeaderText, .apprenticeHeaderText, .sustainabilityHeaderText {
	font-family: 'Italianno', cursive;
	font-size: 36px;
	text-decoration: underline;
}

.ourValuesBodyText, .masterClassBodyText {
	font-family: 'Italianno', cursive;
	font-size: 36px;
	text-indent: 25px;
}

.ourValuesTopContent, .masterClassTopContent, .sustainabilityTopContent {
	margin-top: 5%;
}

.ourValuesSlidesImages, .masterClassSlidesImages, .sustainabilitySlidesImages {
	width: 100%;
}

.ourValuesSlidesText, .masterClassSlidesText, .sustainabilitySlidesText {
	margin-bottom: 15%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	font-family: 'Italianno', cursive;
	font-weight: 300;
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
  	-moz-animation: fadeIn linear 3s;
  	-o-animation: fadeIn linear 3s;
  	-ms-animation: fadeIn linear 3s;
}

#ourValuesCard:hover, #masterClassCard:hover {
	box-shadow: 2px 4px 2px 4px #FFFFFF;
}

.ourValuesCardHeaderText, .masterClassCardHeaderText {
	text-decoration: underline;
	font-family: 'Italianno', cursive;
	font-size: 30px;
}

.ourValuesCardBodyText, .masterClassCardBodyText {
	text-indent: 50px;
	padding: 10px;
}

.ourValuesCardFooterText, .masterClassCardFooterText {
	color: #FFFFFF;
}

.ourValuesCardFooterText:hover, .masterClassCardFooterText:hover {
	color: #FFA500;
}

.ourValuesSectionHeaderText {
	font-family: 'Italianno', cursive;
	text-decoration: underline;
	text-indent: 10%;
}

.ourValuesSectionContentText, .masterClassHeaderInfoText, .ourValuesHeaderInfoText {
	font-family: serif, sans-serif;
	font-size: 16px;
	text-indent: 7%;
}

.bookMasterClassLink {
	color: #FFFFFF;
	text-decoration: none;
	padding: 2%;
	font-family: serif, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

.bookMasterClassLink:hover {
	color: #FFA500;
	border-bottom: 1px solid #FFFFFF;
}

.bookMasterClassLinkIcon {
	color: #FFA500;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px;
}

.bookMasterclassFormText {
	color: #FFFFFF;
	font-family: serif, sans-serif;
	font-size: 16px;
}

.bookMasterClassImage {
	width: 100%;
	height: auto;
}

.bookMasterCardImage {
	width: 100%;
	height: 275px;
	background: url('/images/cupcakes/cupcakes-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bookMasterCardImage-1 {
	width: 100%;
	height: 275px;
	background: url('/images/buns/buns.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bookMasterCardImage-2 {
	width: 100%;
	height: 275px;
	background: url('/images/decoration.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.darkShade {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

.apprenticeCardText {
	color: #FFFFFF;
	font-family: 'Italianno', cursive;
	font-size: 32px;
	margin-top: 25%;
	text-transform: uppercase;
}

#inputId, #inputSystemRole, #inputFirstName, #inputSurname, #inputMiddleName, #inputIdNumber, #inputDateOfBirth, #inputAge, #inputPhoneNumber, #inputEmail, 
#inputPlaceOfResidence, #inputApprenticeId, #inputApprenticeSession, #inputPaymentMode, #inputProductCourse, #inputAmount {
	border-radius: 15px;
	width: 100%;
}

#inputId:hover, #inputSystemRole:hover, #inputFirstName:hover, #inputSurname:hover, #inputMiddleName:hover, #inputIdNumber:hover, #inputDateOfBirth:hover, 
#inputAge:hover, #inputPhoneNumber:hover, #inputEmail:hover, #inputPlaceOfResidence:hover, #inputApprenticeId:hover, #inputApprenticeSession:hover, 
#inputPaymentMode:hover, #inputProductCourse:hover, #inputAmount:hover {
	background: #FF8000;
	cursor: pointer;
}

#inputId:focus, #inputSystemRole:focus, #inputFirstName:focus, #inputSurname:focus, #inputMiddleName:focus, #inputIdNumber:focus, #inputDateOfBirth:focus, 
#inputAge:focus, #inputPhoneNumber:focus, #inputEmail:focus, #inputPlaceOfResidence:focus, #inputApprenticeId:focus, #inputApprenticeSession:focus, 
#inputPaymentMode:focus, #inputProductCourse:focus, #inputAmount:focus {
	background: #FFCC99;
}















